.card {
    border: none;
    background-color: black;
    /* Agrega esta línea para cambiar el color de fondo a negro */
    color: white;
    /* Agrega esta línea para cambiar el color del texto a blanco */
}

.card-img {
    border-radius: 0;
}

.vgr-cards {

    background-color: black;
    display: flex;

    .card {
        display: flex;
        flex-flow: wrap;
        flex: 100%;
        margin-bottom: 40px;

        &:nth-child(even) .card-img-body {
            order: 2;
        }

        &:nth-child(even) .card-body {
            padding-left: 0;
            padding-right: 1.25rem;
        }

        @media (max-width: 576px) {
            display: block;
        }

    }

    .card-img-body {

        flex: 1;
        overflow: hidden;
        position: relative;

        @media (max-width: 576px) {
            width: 100%;
            height: 300px;
            margin-bottom: 20px;
        }

    }

    .card-img {

        width: 100%;
        height: auto;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);

        @media (max-width: 1140px) {
            margin: 0;
            transform: none;
            width: 100%;
            height: auto;
        }

    }

    .card-body {

        flex: 2;
        padding: 0 0 0 1.25rem;

        @media (max-width: 576px) {
            padding: 0;
        }
    }
}

.card2 {
    margin: 10px;
    position: relative;
    width: 220px;
    height: 320px;
    background: mediumturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.card2::before,
.card2::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
}

.card2::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.card2::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
}

.card2:hover::before,
.card2:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.card2:hover:after {
    content: "ACCEDER";
}

.card2-container {
    display: flex;
    justify-content: center
}