.pie {
    min-height: 5em;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.foto {
    border-radius: 50px;
    border-color: black;
    border-style: groove;
}
 
.perfil1 {
    background-color: black;
}

.perfil2 {
    background-color:blanchedalmond;
}