/*
  Establece el color del texto y del borde de la tabla como negro
*/
/*
.table {
    border-color: black;
    color: black;
}
*/

/* Ajusta el ancho de la tabla al 50% del contenedor padre */
/*
.table {
    width: 50%; // Ajustar según sea necesario
}
*/

/* Establece el grosor y color del borde de la tabla */
/*
.table-bordered {
    border: 2px solid black; // Cambia el grosor y el color del borde según tus preferencias
}
*/

/* Establece el grosor y color del borde para las celdas de la tabla */
/*
.table-bordered th,
.table-bordered td {
    border: 2px solid black; // Cambia el grosor y el color del borde según tus preferencias
}
*/

/* Establece la altura de .h1-container en 100px */
/*
.h1-container {
    height: 100px; // Ajusta la altura según tus preferencias
}
*/

/* Estilos para el diseño de las cajas de entrada de texto */
/*
.inputboxf {
    position: relative;
    margin: 30px 0;
    width: 250px;
    border-bottom: 2px solid #000000;
}
*/

/* Estilos para la etiqueta dentro de la caja de entrada de texto */
/*
.inputboxf label {
    position: absolute;
    top: 0; // Cambia esta posición según tus preferencias
    left: 5px;
    color: #000000;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
*/

/* Cambia la posición de la etiqueta cuando la entrada de texto está enfocada o contiene valor */
/*
input:focus ~ label,
input:valid ~ label {
    top: -15px; // Puedes ajustar la posición según tus preferencias
}
*/

/* Estilos para la entrada de texto */
/*
.inputboxf input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 5px;
    color: #000000;
}
*/

/* Estilos para el icono en la caja de entrada de texto */
/*
.inputboxf ion-icon {
    position: absolute;
    right: 8px;
    color: #000000;
    font-size: 1.2em;
    top: 20px;
}
*/
