#neubar{
    background-color:rgb(255, 255, 255) ;
}

    #neubar .dropdown-menu {
      background : rgb(255, 255, 255);
    }
    a.navbar-brand {
      color: rgb(255, 255, 255);
    }

    #neubar a {
    
        padding-left:12px;
        padding-right:12px;
      }