#neubar{
    background-color:rgb(234, 170, 88) ;
}

    #neubar .dropdown-menu {
      background : rgb(234, 170, 88);
    }
    a.navbar-brand {
      color: rgb(234, 170, 88);
    }

    #neubar a {
    
        padding-left:12px;
        padding-right:12px;
      }