#neubar {
    background: #fae8d2;
}

.nav-item .active {
    border-radius: 6px;
    background: #f5d7b2
}

.nav-item-dos .active {
    border-radius: 6px;
    background: #e57e01
}

#neubar .dropdown-menu a:hover {
    color: #454545
}

#neubar .nav-item {
    margin: auto 4px;
}

#neubar a {
    padding-left: 12px;
    padding-right: 12px;
}

#neubar .dropdown-menu {
    background: #fae8d2
}

a.navbar-brand {
    color: #454545
}